@model AuthSys.Models.AddResponsableModelView 
@{
}
<h1> Add Responsible</h1>

<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email Address</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">PhoneNumber</label>
        <input type="number" class="form-control" asp-for="PhoneNumber">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date of birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirdth">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">NameEntreprise</label>
        <input type="text" class="form-control" asp-for="NameEntreprise">
    </div>

    <button type="submit" class="btn btn-primary">AddResponsable</button>
</form>
